.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.user-name-age {
  text-align: center;
  margin-bottom: 10px;
}

.user-description {
  text-align: center;
  margin: 10px 0;
}

.user-actions {
  display: flex;
  width: 100%;
  justify-content: center; /* Изменяем значение на center */
  align-items: center;
  margin-top: 10px;
}

user-actions > * {
  margin: 0 5px;
}

button:hover {
  background-color: #f0f0f0;
}

.liked {
  background-color: #4caf50;
  color: #ffffff;
}

.disliked {
  background-color: #e53935;
  color: #ffffff;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  transition:
    transform 0.3s,
    opacity 0.3s,
    background-color 0.3s,
    filter 0.3s;
  position: relative;
  transform-origin: center;
}

.user-profile.liked {
  background-color: #4caf50;
  filter: brightness(1.2); /* Добавляем эффект яркости */
}

.user-profile.disliked {
  background-color: #e53935;
  filter: brightness(1.2); /* Добавляем эффект яркости */
}

.user-photo {
  width: 100%; /* Заполняем всю ширину */
  max-height: 300px; /* Максимальная высота фотографии */
  overflow: hidden; /* Обрезаем избыточное содержимое */
  border-radius: 10px; /* Скругленные границы для фотографии */
}

.user-photo img {
  width: 100%;
  height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
}

@keyframes swipeLeft {
  0% {
    transform: rotate(0) translateX(0);
  }
  100% {
    transform: rotate(-20deg) translateX(-150%); /* Свайп влево */
  }
}

@keyframes swipeRight {
  0% {
    transform: rotate(0) translateX(0);
  }
  100% {
    transform: rotate(20deg) translateX(150%); /* Свайп вправо */
  }
}

.user-profile.swipe-left {
  animation: swipeLeft 0.3s forwards;
}

.user-profile.swipe-right {
  animation: swipeRight 0.3s forwards;
}

.no-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p,
.user-name-age,
.user-description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  text-align: start;
}

/* Заголовок */
h1,
h2,
h3 {
  font-weight: bold;

}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  text-align: start;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
}

h4 {
  color: gray;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: start;

}
