
.promo-content {
  background-color: #f4f6f5;
  margin-top: 4px;

  display: flex;
  column-gap: 24px;

  padding-top: 50px;
  padding-left: 120px;
}

.promo-button-wrap {
  display: flex;
  column-gap: 25px;
  align-items: center;
  margin-top: 50px;
}

.promo-title {
  margin-top: 50px;
  max-width: 480px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
}
.promo-button-wrap::before {
  content: '';
  display: inline-block;
  width: 190px;
  height: 32px;
  background-image: url('./../../../img/vector-btn.svg');
}
.promo-btn {
  border-radius: 10px;
  width: 220px;
  height: 55px;
  font-weight: 500;
  background: black;
  color: white;
  margin-bottom: 50px;
}

.between {
  background: #e5646e;
  height: 20px;
}

.footer {
  background: black;
  height: 400px;
  margin-bottom: -50px;
}
.footer-text-1 {
  color: #787878;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.02em;
  margin-left: 770px;
  margin-top: -150px;
}
.footer-text-2 {
  color: #787878;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.02em;
  margin-left: 970px;
  margin-top: -160px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-top: 119px;
  margin-left: 100px;
  max-height: 300px;
  max-width: 150px;
}
.footer-text-container {
  max-width: 150px;
}
.company-name {
  color: #bdbebd;
  margin-top: 120px;
  max-width: 480px;
  font-weight: 900;
  font-size: 52px;
  line-height: 1.05;
  max-width: 100px;
}
